body
{
	
	background-image: url("lune.jpg");
	color: white;
	background-attachment: fixed;

}
*
{
	margin: 0;
	padding: 0;
}
.b
{
	width: 1200px;
	height: 75px;
	margin: auto;

}
.c
{
	width: 200px;
	height: 70px;
	float: left;
}
.logo
{
	font-family: 'Times New Roman';
	color: orangered;
	font-size: 45px;
	padding-top: 10px;
	padding-left: 20px;
	float: left;


}
.titre
{
	color:teal;
}
.titree
{
	color: rgb(52, 201, 10);
}
.menu
{
	width: 400px;
	height: 70px;
	float: left;

}
ul
{
	float: left;
	align-items: center;
	display: flex;
	color: white;
	padding-left: 50px;
	text-transform: uppercase;
}
ul li 
{
	list-style:none ;
	margin-left: 50px;
	margin-top: 30px;
	font-family: georgia;
}
ul li a
{
	text-decoration: none;
	transition: 0.4s;
	background-color:orange;
}
ul li a:hover
{
	background-color: transparent;
	
}
.reche
{
	width: 400px;
	float: left;
	margin-left: 200px;
}
.text
{
	width: 200px;
	float: left;
	margin-top: 25px;
	background: transparent;
	font-family: 'Times New Roman';
	font-size: 20px;
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
	padding-left: 30px;
	border-left: none;
	height: 24px;
	border: 1px solid orangered;
	color: white;
}
.re
{
	width: 120px;
	color: white;
	margin-top: 25px;
	background: orangered;
	height: 27px;
	font-family: 'Times New Roman';
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border: 3px ridge orangered;
	margin-left: -9px;

}
span
{
	color: orangered;
}
.re:hover
{
	background: rgb(199, 100, 64);
}
.reche:focus
{
	outline: none;
}
.re:focus
{
	outline: none;
}
.content
{
	margin-left: 40px;
	width: 1200px;
	height: auto;
	border: none;


}
.btn
{
	
	height: 30px;
	background-color: orangered;
	border: 1px solid orangered;
	padding: 8px;
	border-radius:5px ;

}
.btn:hover
{
	background: white;
}
a
{
	text-decoration: none;
	color:black;
	
}
.form
{
	width: 250px;
	height: 300px;
	margin-left: 870px;
	margin-top: -300px;
	padding: 20px;
	background: black top;
	margin-bottom: 230px;
	border-radius: 10px;
	padding-bottom: -10px;
	box-shadow: 11px red;
	
}
.form h2
{
	background-color: white;
	border-radius: 10Px;
	text-align: center;
	padding: 8px ;
	color:orangered;
	font-family: Arial;
	
}
input
{
	border-bottom: 1px ridge orangered;
	background: none;
	margin: 8px;
	border-left: none;
	color: white;
	border-top: none;
	border-right: none;
	margin-top: 20px;
	letter-spacing: 1px;
	width: 235px;
	padding-bottom: 8px;
	font-size:15px ;
}
::placeholder
{
	color: lavenderblush;
	font-family: 'Times New Roman';
}
.btk
{
	width: 240px;
	margin-top: 10px;
	height: 23px;
	background-color: orangered;
	color: white;
	border: none;
	border-radius: 5px;
	font-family: arial;
	font-size: 17px;
	margin-bottom: 10px;

}
.btk:hover
{
	background-color: white;
}
.link
{
	text-align: center;
	text-decoration: none;
	font-family: 'Times New Roman';
	
}
.kl
{
	text-decoration: none;
	font-family: 'Times New Roman';
	color: orangered;
	text-align: center;
	margin-left: 90px;
}
.liw
{
	text-align: center;
	margin-top: 15px;
	font-family: 'Times New Roman';
}
.tito
{
		border-radius: 170px 190px ridge teal;
	
}